# Python cache and compiled files
__pycache__/
*/__pycache__/
*.py[cod]

# Virtual environment
venv/

# Sensitive config
config.py

# System/Editor files
.DS_Store
.vscode/
*.swp
*.swo

# Logs and CSV outputs
Logs/*.csv
*.log

#Images and Videos Captured
Capture/
Dataset/

# Model files 
*.yml
*.pkl
*.h5

# Jupyter/IPython checkpoints
.ipynb_checkpoints/

retrain_state.json